[2015-10-06 19:00] #431 closed

[2015-10-06 19:00] #467 closed

[2015-10-06 19:09] dormansteph commented on #462
perfect!

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buildpgh.com/beacon/ and register for news about
upcoming opportunities.

On Tu

[2015-10-06 20:17] bsmithgall commented on #473
@rileystewart

do you see the "update" button on your view? that will let you get into contracts.

![pittsburgh_purchasing_suite_and_codeforamerica_pittsburgh-purchasing-suite](https://cloud.githubusercontent.com/assets/1957344/10321261/930051dc-6c2c-11e5-9263-2ebd5b75412a.png)

[2015-10-06 23:44] msknee commented on #468
- [x] Sam Ashbaugh + Jennifer + Riley + Stephanie + Ed prioritization meeting, Tuesday 10/13. @rileystewart will schedule.
- [x] 1:1 time with Ed
- [x] 1:1 time with Stephanie
- [x] 1:1 time with Riley
- [x] Syliva + Laura to discuss transfer to pittsburghpa.gov and maintenance options
- [x] Webteam + Laura to discuss transfer to pittsburghpa.gov
- [x] Sam Ashbaugh + Jennifer to discuss adding aut

[2015-10-07 02:34] msknee commented on #468
@bsmithgall @hamhands who else do we need to meet with to discuss transfer to pittsburghpa.gov URL and maintenance?

[2015-10-07 03:17] #473 closed

[2015-10-07 08:29] #465 closed

[2015-10-07 19:47] shellicious opened #476 "Add column for NIGP codes in Conductor"
Idea from Jennifer.

[2015-10-07 19:47] shellicious opened #477 "Prep for feature prioritization meeting with OMB staff"

[2015-10-07 22:13] #462 closed

[2015-10-07 22:13] #466 closed

[2015-10-08 20:22] shellicious opened #481 "Transfer PGH Procurement Suite to pittsburghpa.gov"
- [ ] Sylvia approves
- [ ] Transfer Heroku
- [ ] Transfer Sendgrid
- [ ] Transfer AWS
- [ ] Actual URL transfer

[2015-10-08 20:25] bsmithgall commented on #481
Typeform? I think the order of operations here is also a bit backwards:
1. We don't want to transfer ownership of the accounts until we've figured out what the maintenance agreement looks like.
2. The URL transfer is going to be the hardest part. Are we looking for a subdomain? If so, how do we want to handle everything?

[2015-10-08 20:27] bsmithgall commented on #361
Ok, I've finally gotten the emails: https://drive.google.com/open?id=0B7OsELYfuj7vNDdRdy1NcHNWOTQ

@shellicious you should probably go through these manually and make sure that they are all valid emails (they all got imported at once and there might have been problems with that)

[2015-10-08 20:28] msknee commented on #481
feel free to edit the original to-do checklist! made this so that there's something to reference from the Trello board

[2015-10-08 20:29] msknee commented on #361
:+1:

[2015-10-08 20:31] shellicious opened #482 "User-facing documentation for Pittsburgh Procurement Suite"
Walkthrough for admin level users: @shellicious covering this section

https://docs.google.com/document/d/1fjPSmQxTxIkvcOT5RjtG69_oRFDoZGdOdcbQd85C3aI/edit#heading=h.tiw5v5khzivs

[2015-10-08 20:35] bsmithgall commented on #482
It would be really good to get some thoughts here from @cydharrell

[2015-10-08 21:24] #334 closed

[2015-10-08 21:54] #416 closed

[2015-10-12 17:33] msknee commented on #477
Trello board: https://trello.com/b/LyKzODL9/pgh-end-of-days-tasks

[2015-10-12 17:33] #477 closed

[2015-10-12 18:04] #468 closed

[2015-10-12 18:13] shellicious opened #483 "Update deck for 10/13/15"
https://docs.google.com/presentation/d/1tGXfiel0Z4FxKC2V3TRO4_oe_QyMZZHnQp_hP68I6Cs/edit#slide=id.g9c68f2b15_0_0

[2015-10-12 19:53] bsmithgall opened #484 "Problem with zip codes in conductor complete"

[2015-10-12 19:59] #123 closed

[2015-10-12 20:03] #484 closed

[2015-10-12 20:04] bsmithgall commented on #114
![screen shot 2015-10-12 at 4 03 44 pm](https://cloud.githubusercontent.com/assets/1957344/10437414/dd9076aa-70fa-11e5-976e-12733a71a56e.png)
![screen shot 2015-10-12 at 4 03 36 pm](https://cloud.githubusercontent.com/assets/1957344/10437415/dd943308-70fa-11e5-8e98-aa306f811a2e.png)

[2015-10-12 20:04] bsmithgall commented on #114
Still todo: get everything to match the flow's order.

[2015-10-13 13:44] #483 closed

[2015-10-13 13:47] msknee commented on #114
Above screenshots, merged:

![metricspage_101315](https://cloud.githubusercontent.com/assets/1178390/10456456/74dc9978-718f-11e5-8124-8c395eee5d60.png)

[2015-10-13 14:13] bsmithgall opened #487 "Admin level users need to be able to change user roles"

[2015-10-13 14:20] bsmithgall opened #489 "Add test for conductor reassignment"

[2015-10-13 15:22] bsmithgall opened #490 "Navbar style weirdness on slightly smaller screens"
Covers the top of the Scout panel, this should probably be addressed.

[2015-10-13 15:56] shellicious opened #491 "First step of Conductor contracts can't be back-dated"
Options:
- Can specify date in the past when starting work on a contract
- Go through data and manually set date to something in the past

@dormansteph brought this to our attention! Do add a spec # or item # of the contracts you're having trouble with, Steph, in the comments below

[2015-10-13 16:10] #427 closed

[2015-10-13 16:11] bsmithgall commented on #427
wontfix after online conversation

[2015-10-13 17:37] bsmithgall opened #492 "Pending opportunities on Beacon show up even if we are past the expiration date"

[2015-10-13 17:38] bsmithgall commented on #492
@hamhands do you think you could take a look at this one? should be a pretty simple fix.

[2015-10-13 17:38] bsmithgall commented on #489
This should be a view post test as opposed to a method call test.

[2015-10-13 17:52] bsmithgall opened #493 "Beacon opportunities fail on non-ascii characters"
Text should be encoded as UTF-8 on entry.

[2015-10-13 20:00] bsmithgall opened #494 "If a vendor goes to sign up to follow an opportunity and has an email but mistypes their business name, it throws a 500"

[2015-10-13 23:29] #492 closed

[2015-10-13 23:29] #493 closed

[2015-10-13 23:29] #494 closed

[2015-10-14 00:13] #489 closed

[2015-10-14 14:46] bsmithgall opened #497 "Old spec number not showing up on the list view"

[2015-10-14 14:46] bsmithgall commented on #497
We also need to show the expiration date in the in progress list view.

[2015-10-14 14:52] bsmithgall commented on #497
Looks like the detail view isn't properly updating when you update the spec number as well.

[2015-10-14 14:56] bsmithgall opened #498 "Add remove from conductor action"
+ Should remove the list in conductor
+ Should not remove from scout or set any flags.
+ Add `is_conductor` flag on `ContractBase` object

[2015-10-14 14:58] bsmithgall opened #499 "Hide in progress contracts in conductor on scout admin view"

[2015-10-14 15:06] shellicious opened #500 "Can filter in-progress contracts by expiration date"
Jennifer and purchasing agents would like to be able to prioritize work on in progress contracts. One of the ways they do it is by looking at the expiration date.

[2015-10-14 16:08] bsmithgall commented on #500
![screen shot 2015-10-14 at 12 05 42 pm](https://cloud.githubusercontent.com/assets/1957344/10489732/37692f88-726c-11e5-80e6-020797714cf2.png)
![screen shot 2015-10-14 at 12 05 33 pm](https://cloud.githubusercontent.com/assets/1957344/10489733/37699f54-726c-11e5-840e-7cb668ce8552.png)

[2015-10-14 16:10] msknee commented on #481
Met with Sylvia today. She wants a version of this (https://docs.google.com/document/d/1JkKIvI1ejcV-vHDGeITE3bvJQd-HQs4kaPuvnK9l1gc/edit) detailing what the maintenance and bundled services are for, and monthly costs of different options.

She and Jim at I&P will discuss, then they'll send us their ideal option. They'll reach out to OMB to figure out how to pay for it.

[2015-10-14 18:02] bsmithgall opened #502 "Loading spinner doesn't work properly"

[2015-10-14 18:04] shellicious opened #503 "Expiration date + old spec # in Conductor detail view easier to read, add new spec #"
Stephanie associates light gray text with inactive / not relevant information.

Try making the expiration date and spec number black, or highlighting it with red / yellow according to the same rules as how color is displayed on the contract list page.

[2015-10-14 18:05] shellicious opened #504 "Keep assigned person for contracts once contract is complete"

[2015-10-14 18:35] shellicious opened #505 "Style 'all contracts' area so that it looks sufficiently different from in-progress area"
Ideas:
- Add a light gray background to the entire background section
- Add a black vertical stripe (10-20px wide) on the lefthand side of the screen to mark the 'in-progress' contracts

[2015-10-14 18:47] bsmithgall opened #506 "Add "+" to the all contracts section to show the full description"

[2015-10-14 19:00] bsmithgall opened #507 "Add "my contracts" filter to all contracts section"

[2015-10-14 19:00] msknee commented on #503
Update from Ed:

He'd like to see the new spec # on a separate line, underneath the old spec #. It can say "----" if there isn't one yet. When he updates the metadata with a new spec, he wants it to update in the header area.

[2015-10-14 19:01] shellicious opened #508 "Tweak: change "Post Opportunity" action to "Post to Beacon""

[2015-10-14 19:46] dormansteph commented on #491
can you update Item 2107 Street Lighting Services (CD Areas) the expiration date should be 6/30/2016 everything else is good.

[2015-10-14 20:10] bsmithgall opened #509 "Conductor should only create clones for different companies if the controller numbers are different"
On complete.

[2015-10-14 20:50] bsmithgall opened #510 "Scout status icons incorrect if a contract is killed but not expired"

[2015-10-15 00:30] bsmithgall commented on #503
@shellicious I feel like we can use this space a bit better.

![screen shot 2015-10-14 at 8 29 32 pm](https://cloud.githubusercontent.com/assets/1957344/10501738/69df2468-72b2-11e5-8f96-4359984bd2c2.png)

[2015-10-15 10:28] dormansteph commented on #462
Good morning,

SPEC #6459 is still showing in progress "Final Review Received from County" and i extended back on 10/01/15.  I extended it again today not realizing I had sent the issue earlier in the month until now that i am sending it.

[2015-10-15 13:10] bsmithgall commented on #462
@dormansteph it won't retroactively show extensions -- it will only show things that have been extended since this change has been made.

As for the current step showing, is this wrong? From discussions early this year it seemed like the extension shouldn't affect the progress of the rebid/renewal. If this is incorrect, please let us know what the proper flow should be.

[2015-10-15 13:27] bsmithgall opened #512 "Beacon biweekly digest includes expired contracts"

[2015-10-15 14:26] dormansteph commented on #462
i'm not sure let me discuss with Riley.

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buildpgh.com/beacon/ and register for news about

[2015-10-15 18:23] #497 closed

[2015-10-15 18:23] #498 closed

[2015-10-15 18:23] #499 closed

[2015-10-15 18:23] #500 closed

[2015-10-15 18:23] #502 closed

[2015-10-15 18:23] #504 closed

[2015-10-15 18:23] #506 closed

[2015-10-15 18:23] #507 closed

[2015-10-15 18:23] #508 closed

[2015-10-15 18:23] #503 closed

[2015-10-15 18:26] #487 closed

[2015-10-15 18:39] #114 closed

[2015-10-15 18:45] bsmithgall opened #514 "Conductor metrics -- average days in step distribution graph"
The existing average days in step graph needs a bit more descriptive context.

[2015-10-15 18:45] bsmithgall opened #515 "Conductor Metrics -- ability to do time segmentation and/or periodization"

[2015-10-16 13:55] bsmithgall opened #516 "Conductor edit contract screen should have a revert to previous stage button"
cc @rileystewart

[2015-10-16 18:21] msknee commented on #361
Only found 1 error. Will send out the email Monday morning

[2015-10-16 18:30] msknee commented on #361
Draft email to vendors: https://docs.google.com/document/d/1mtirh7EkUKf2K9LTMrl1WxN8PaVPe-xb2nq9u4Nk2bs/edit

[2015-10-16 22:09] #512 closed

[2015-10-19 19:20] msknee commented on #361
Email sent, ~50 email addresses were no longer in use.

[2015-10-19 19:20] #361 closed

[2015-10-19 21:03] shellicious opened #518 "Ability to delete opps from pending page"
Seeing duplicates of opportunities that have already been published, and published and closed:

![pending_licecap](https://cloud.githubusercontent.com/assets/1178390/10591215/e077762e-7669-11e5-8b49-02fa658fff4e.gif)

I suggest:
- Adding delete button next to the edit button to remove duplicates
- Showing the email address of the person who added the post on the card, so they can be contacted to f

[2015-10-19 21:16] shellicious opened #519 "Update deck for 10/20/15"

[2015-10-20 00:02] shellicious opened #521 "End of year report"
Sigh.

[2015-10-20 00:17] msknee commented on #519
https://docs.google.com/presentation/d/1pjGFJrqDWjhucobzZFY9K_U6dz9dsmhHqEZAHAenR0c/edit#slide=id.g9c68f2b15_0_0

[2015-10-20 17:23] #519 closed

[2015-10-20 17:30] bsmithgall opened #524 "Email David & Sylvia (cc Laura) about pittsbughpa transfer"
Get deliverable tomorrow.

[2015-10-20 18:24] bsmithgall commented on #491
@dormansteph Riley should be able to do that for you -- sorry I didn't see this until now!

[2015-10-20 18:26] hamhands commented on #518
Preferences @shellicious?

### Option 1:

<img width="1178" alt="screen shot 2015-10-20 at 11 16 11 am" src="https://cloud.githubusercontent.com/assets/3640800/10617019/07a47dd8-771d-11e5-8092-6b5ec75a41c8.png">

### Option 2:

<img width="1160" alt="screen shot 2015-10-20 at 11 22 45 am" src="https://cloud.githubusercontent.com/assets/3640800/10617006/f37c75fe-771c-11e5-8cc3-1199c498e0cc.png">

[2015-10-20 21:36] hamhands opened #527 "Investigate costars/state contracts"
Need to determine the overlap and deviation of costars and state contracts.

[2015-10-20 21:55] hamhands opened #528 "Email validation issue"
Report from user that valid emails were returning errors. Unclear if this is user problem or app issue.

[2015-10-20 22:59] bsmithgall commented on #528
Both vendor-supplied email addresses validated without issue, so I think this is something else.

[2015-10-20 22:59] #528 closed

[2015-10-20 23:00] msknee commented on #524
Emailed

[2015-10-20 23:01] #518 closed

[2015-10-20 23:04] #491 closed

[2015-10-20 23:04] #516 closed

[2015-10-20 23:18] #524 closed

[2015-10-21 12:31] rileystewart opened #529 "backdating steps on conductor doesn't work right"
I was working in contract A-083-14 to change the date it was started to a few days earlier than when we originally marked it.  I went in and hit the mark complete button and the box keeps opening and closing making it nearly impossible to actually type in a date.

After I finally got it completed, it made the 'step complete in -22 hours' which is very odd.

[2015-10-21 12:53] rileystewart opened #530 "Contract title showing up wrong in conductor"
A-072-15 is labeled in Scout as 'Printing and....'  and the check box is checked to show in conductor.

It is not showing in conductor.  There is however a spec by that number showing with the label 'bookbinding' (this should be labeled printing just like it is in scout)

[2015-10-21 16:30] bsmithgall commented on #529
Working on this now.

[2015-10-21 16:31] bsmithgall commented on #530
Will look into this today.

[2015-10-21 18:06] msknee commented on #527
I called the state procurement office at (717) 787-5733, and was transferred to the COSTARS help desk. I spoke with someone there that told me state contracts and COSTARS contracts are different: a supplier can have a state contract with certain terms, and also be on a COSTARS contract with different terms. Cities can use COSTARS contracts if they are "COSTARS members", and also piggyback off of s

[2015-10-21 18:15] #527 closed

[2015-10-21 18:56] bsmithgall opened #531 "Bulk-add Riley to followers for all non-conductor non-expired contracts"

[2015-10-21 18:59] bsmithgall commented on #530
Also PQ contract for printing services (controller #49573, id #2313)

[2015-10-21 19:02] shellicious opened #532 "Write copy + Beacon button for omb contracts site"
The OMB contracts site should display a message directing visitors to Beacon, and have a banner or large button to call attention to Beacon. The banner/button could also be reused on other pittsburghpa.gov pages.

[2015-10-22 05:09] #529 closed

[2015-10-22 22:00] bsmithgall opened #535 "You should be able to adjust the start time of the first stage from the first stage."

[2015-10-22 22:03] bsmithgall commented on #530
This should show up now.

[2015-10-22 22:03] #530 closed

[2015-10-22 22:04] bsmithgall commented on #530
@rileystewart if there is another problem with a contract that has a controller # that isn't #49573, please let me know.

[2015-10-22 22:07] shellicious opened #536 "Uploaded documents not showing for Beacon opps"
Documents don't show up as they should for the new opportunities city staff made. They also don't show up in the remaining opp that we put up (Pre-qualified tree pruning).

![screen shot 2015-10-22 at 3 05 18 pm](https://cloud.githubusercontent.com/assets/1178390/10679579/87ee1bea-78ce-11e5-8519-4a81b7c66a1f.png)

[2015-10-22 23:11] #536 closed

[2015-10-22 23:54] bsmithgall opened #538 "Conductor index page slow to load"

[2015-10-22 23:58] bsmithgall commented on #538
Should try to fix with Postgres indexing

[2015-10-23 00:02] bsmithgall commented on #538
Maybe we should materialize views with the results of those queries.

[2015-10-23 00:02] bsmithgall commented on #538
Or perhaps caching.

[2015-10-23 12:00] dormansteph opened #539 "Back Date"
I'm trying to update SPEC #7384 it was started on Sept 3 and i'm trying to continue with that date and i'm getting an error message saying the date conflicts replaced with today's date

[2015-10-23 12:03] dormansteph commented on #539
date field is not working at all to update in conductor

[2015-10-23 12:17] rileystewart commented on #539
The date box should prepopulate with today's date.  Also it would be nice if a calendar popped up similar to how it does in Admin:Scout:Contracts

The format of the date is confusing with the year, month, day when then it is displaying month, day, year (aka 10/23/15).  Also we would prefer if we didn't have to put in a specific hour/minute as that really doesn't matter.

[2015-10-23 12:25] rileystewart opened #540 "beacon posting from conductor"
I'm trying to post to beacon from conductor for one of ed's contracts 6976.  I click on the beacon link and i only get the option to add a comment.

[2015-10-23 12:51] rileystewart opened #541 "beacon posting from conductor"
I'm trying to post to beacon from conductor for one of ed's contracts 6976.  I click on the beacon link and i only get the option to add a comment.

[2015-10-23 16:31] bsmithgall commented on #541
Duplicate of #540

[2015-10-23 16:31] #541 closed

[2015-10-23 16:36] bsmithgall commented on #539
Hour/minute is important if we want to have accurate metrics.

The calendar timepicker should pop up now.

@dormansteph a conflicting date error message will show up if you try to backdate before the start date for that stage, including the time.

[2015-10-23 16:38] bsmithgall commented on #540
Conductor says that step is "Bid Closed" -- doesn't this mean that the time to submit opportunities has passed?

[2015-10-23 16:44] bsmithgall commented on #540
@rileystewart I'm not actually sure what you mean here -- I have the "Post to Beacon" option. Could you attach a screenshot?

[2015-10-23 16:53] dormansteph commented on #539
Its not popping up and I still can't enter a back date or any date.  I'm
trying to update SPEC #7384

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit

[2015-10-23 16:57] bsmithgall commented on #539
I'll look into it right now.

[2015-10-23 17:15] bsmithgall commented on #539
@dormansteph I've patched this problem and will let you know here when it is live -- it should hopefully resolve the problem. If it does, feel free to close the issue. If not, I'll continue working on it.

[2015-10-23 17:17] bsmithgall commented on #539
Ok, it should be live, please try again!

[2015-10-23 17:23] rileystewart commented on #540
Now I see it.  But there are lots of issues with the posting to beacon
option from conductor.  It looks like its the same options that are there
for the RFPs.  It should just be opportunity type, and the title should be
the same as the description (what the title of the bid is).  There should
be no contact email, it shouldn't show which department it is for (because
it will most likely be used by

[2015-10-23 17:36] dormansteph commented on #539
The calendar appears but it doesn't let you back date

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buildpgh.com/beacon/ and register

[2015-10-23 17:43] bsmithgall commented on #539
You can't backdate a step with a completion date that is earlier than that start date for the step. It looks like you started that step today, so I'm not sure this is wrong.

[2015-10-23 17:46] #59 closed

[2015-10-23 17:46] #164 closed

[2015-10-23 17:46] #266 closed

[2015-10-23 17:47] bsmithgall commented on #289
Is this resolved?

[2015-10-23 17:47] bsmithgall commented on #290
What's the plan here, it is awkward to try to move between apps now. Do we have any thoughts on turning something back on for this @shellicious @hamhands ?

[2015-10-23 17:50] dormansteph commented on #539
I was trying to back date it for 09/03/2015 and it populated today's date
saying there is a discrepancy in the date.  It was sent to city review
09/03/2015 returned from city review 9/03/2015 and I want to make the
county review 9/03/2015 and county return 9/03/2015

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone

[2015-10-23 17:52] hamhands commented on #290
@bsmithgall the original impetus for removing app links was when scout was launched. I don't know what @shellicious thinks, but in my mind I think there at minimum needs to be some way to get back to the app the user came from when editing profile info or signing up for an account. That's currently pretty difficult to do, right?

[2015-10-23 17:52] bsmithgall commented on #290
Yes.

[2015-10-23 17:52] bsmithgall commented on #290
We originally had a way to navigate between the apps, but that is gone now.

[2015-10-23 17:53] hamhands commented on #290
Other option is that we turn all app links back on, but that would a) muddy up the already fairly full nav bar and b) possibly confuse users as @rileystewart originally noted. Maybe now that all the apps have been out and in use for a couple months now, that's less of a concern though.

[2015-10-23 17:54] bsmithgall commented on #539
Ok, I think this is a different need then -- you need to be able to restart a stage in the past. This is a new feature, so I'm going to close this issue and make a new one that captures that work.

[2015-10-23 17:54] #539 closed

[2015-10-23 17:54] bsmithgall opened #543 "Revert should support back-dating."

[2015-10-23 17:55] hamhands commented on #289
@bsmithgall for this specific case yes the data was updated. The larger county number issue is still obviously an open question, but I think we can close this.

[2015-10-23 17:56] #289 closed

[2015-10-23 17:57] bsmithgall commented on #290
Ok, I think that's the right way to do it, thoughts @shellicious?

[2015-10-23 19:22] msknee commented on #290
at one point, we had links in a drop down. Is that what you're suggesting bringing back, @hamhands? I'm in favor of that. I was just thinking yesterday that navigating between apps is an annoyance.

[2015-10-23 19:39] msknee commented on #540
@rileystewart the reason behind the fields being the same is that we want to ensure that the content businesses see on Beacon around commodity opportunities is as informative as possible. Information on Bidnet is hard for businesses to access, and we want to add as much as we can to help them out. Not filling out some fields in the form will result in an empty opportunity details page. With the cl

[2015-10-23 20:20] bsmithgall commented on #290
@hamhands do you want to re-add them?

[2015-10-23 20:21] bsmithgall commented on #290
While you are at it, you can probably fix #490

[2015-10-23 20:22] hamhands commented on #290
@bsmithgall :+1:

[2015-10-24 19:10] #538 closed

[2015-10-26 22:13] #543 closed

[2015-10-26 23:12] #290 closed

[2015-10-26 23:24] hamhands commented on #490
Closed in #545

[2015-10-26 23:24] #490 closed

[2015-10-27 00:26] bsmithgall commented on #429
Backend changes
- [ ] Department model migration to add an "external" flag
- [x] New contract type with default text, created via the admin

[2015-10-27 00:39] bsmithgall commented on #223
WONTFIX on this

[2015-10-27 00:39] #223 closed

[2015-10-27 00:40] bsmithgall commented on #194
This is a partial duplicate of #482 work for this can be captured there, wontfixing here

[2015-10-27 00:40] #194 closed

[2015-10-27 00:42] bsmithgall commented on #90
@ErnieAtLYD or @phiden did either of you have any luck improving the PERSONA EXPERIENCE?

[2015-10-27 00:42] phiden commented on #90
I did not. But maybe Ernie did?

On Mon, Oct 26, 2015 at 8:42 PM, Ben Smithgall notifications@github.com
wrote:

[2015-10-27 05:04] shellicious opened #548 "Update deck for 10/27/15"
https://docs.google.com/presentation/d/1Cq4jrnu_i3qrlTn52_XuRbeB1bTVHa51BGrwcqmuNRY/edit#slide=id.g9c68f2b15_0_0

[2015-10-27 05:27] #548 closed

[2015-10-27 13:11] rileystewart opened #549 "Contract disappeared from Conductor"
Stephanie was working on updating a contract for Ballfields.  It gave her an error message and now the contract is gone from Conductor.  I searched in scout and there is still a contract that looks like they do when one is being worked on in conductore (i.e. empty controller empty expiration).

[2015-10-27 13:34] bsmithgall commented on #549
@dormansteph could you put here the steps that you were doing so that I can try to reproduce this error?  It's not totally clear what happened from the logs.

[2015-10-27 13:41] dormansteph commented on #549
SPEC 7438 was in the all contracts section
clicked on actions
start work
and it brought a box up
i clicked in the date box to see if it would work
didn't change the date from today
and it start
the error message said
oops something went wrong don't panic we are fixing it 500

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15

[2015-10-27 13:52] bsmithgall commented on #549
Hmm that is definitely unexpected behaviour. I'll look into it more today.

[2015-10-27 13:55] bsmithgall commented on #549
I think the solution involves refactoring the batch create process out into next step creation during the contract transition. For this contract, is it ok if I just reset it to the way it was?

[2015-10-27 16:07] ErnieAtLYD commented on #90
@bsmithgall - obviously you can't touch the personal pop-up box. Maybe you can be more descriptive in `/login`?

[2015-10-27 16:14] bsmithgall commented on #90
I mean mostly the ALERT boxes that pop up. Right now they are just like "UNAUTHORIZED" or something like that

[2015-10-27 16:16] bsmithgall commented on #357
Re-upping this. Robots occasionally try to mass-subscribe to contracts which is a bit annoying.

[2015-10-27 16:17] ErnieAtLYD commented on #90
Talking out loud: looks like the `alert` boxes come from `layout.html`. Maybe we could redirect to a hardcoded error page instead? The only problem with that is that - in theory, it's a best practice to call `navigator.id.logout()` after an error call which will naturally make the person log out. Which leaves us with "style the alert box."

[2015-10-27 16:21] bsmithgall commented on #90
Isn't that pretty much impossible? We could have it pop open a modal or something instead of just `alert`. Maybe let's pair on a solution when you are back (or remotely?)

[2015-10-27 16:23] phiden commented on #90
I'm happy to pair either way -- I've done some light styling on some messaging on ours, I'm just not sure they're directly persona-related.

On Tue, Oct 27, 2015 at 12:21 PM, Ben Smithgall notifications@github.com
wrote:

[2015-10-27 16:25] bsmithgall commented on #90
:+1: I'm pretty available most of this week :calendar: can you guys schedule something because I imagine you will be busier?

[2015-10-27 16:26] bsmithgall commented on #549
@dormansteph I reset it, could you try to re-assign the contract?

[2015-10-27 16:46] bsmithgall commented on #254
Bye-bye wexplorer: https://github.com/codeforamerica/wexplorer/pull/30

[2015-10-27 16:46] #254 closed

[2015-10-27 16:56] dormansteph commented on #549
do i need to enter the contract as new.  it's gone.

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buildpgh.com/beacon/ and register fo

[2015-10-27 16:58] bsmithgall commented on #549
Yes, you will need to restart it -- I reset it to before work on that one was started.

[2015-10-27 17:01] dormansteph commented on #549
Its gone.  I cant restart i will need to renter the SPEC correct?  Where
did it go.

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buil

[2015-10-27 17:02] bsmithgall commented on #549
You'll need to restart it from the all contracts section:

![screen shot 2015-10-27 at 10 02 00 am](https://cloud.githubusercontent.com/assets/1957344/10765808/d27f6634-7c91-11e5-9a72-03f01b96e062.png)

[2015-10-28 01:06] #392 closed

[2015-10-28 02:33] #248 closed

[2015-10-28 04:05] #514 closed

[2015-10-28 16:04] rileystewart opened #554 "post to beacon from conductor is not popping up"
![image](https://cloud.githubusercontent.com/assets/12427992/10794571/e0a74b48-7d6b-11e5-9ca6-f853b8a14298.png)

trying with spec 6459 and it won't pop up.  also, it highlights all of the filters if you're trying to change between the filters....i'm guessing its supposed to switch from one to another

[2015-10-28 16:06] rileystewart opened #555 "download all suppliers from beacon"
I was assuming that this option would download into a readable format like excel.  I have clicked it and it goes into a huge Notepad download with no separations.

This should be in a readable format so we can filter/send off addresses of vendors that have the category we are looking for.

[2015-10-28 16:55] msknee commented on #554
@rileystewart it works from the "Final Review Approval Sent to County" stage, which is not the one this contract is currently in.

You can go here in the admin (https://www.buildpgh.com/admin/stage/) to add Beacon posting capability to any stages, by clicking on the pencil icon and selecting the "Post Opportunities" check box.

Here's a screenshot of all the stages that currently have the Beacon p

[2015-10-28 16:59] bsmithgall commented on #555
It's a tab-separated file, which you can open with Excel.

[2015-10-28 16:59] rileystewart commented on #555
it doesn't give me an option. it just automatically downloads it in notepad format

[2015-10-28 17:00] bsmithgall commented on #555
https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-files-e8ab9ff3-be8d-43f1-9d52-b5e8a008ba5c#bmimport_data_from_a_text_file_by_openi

[2015-10-28 17:00] msknee commented on #555
Try this? https://www.youtube.com/watch?v=OriqzXqLcaw

[2015-10-28 17:04] rileystewart commented on #554
it should work from multiple steps.  at that step we would never know when it was going to be posted/finished and we would not have the final copy of the RFP in the county format.

it should work from final review sent to county and bid posted.

[2015-10-28 17:07] msknee commented on #554
@rileystewart check out the screenshot: it does work from "final review approval sent to county" and "bid posted". As an admin, you can add the post-to-Beacon functionality from the URL I shared above if you'd like it to work from more stages.

[2015-10-28 17:10] msknee commented on #549
Has this been resolved?

[2015-10-28 17:15] bsmithgall commented on #531
@rileystewart -- before I push go on this, I want to confirm that you want to bulk-follow all **non-conductor** contracts, which means everything that isn't County, A-Bid, or B-Bid type.

[2015-10-28 17:16] dormansteph commented on #549
yes

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buildpgh.com/beacon/ and register for news about
upcoming opportunities.

On Wed, Oc

[2015-10-28 17:16] bsmithgall commented on #549
Thanks for reporting and following up @dormansteph !

[2015-10-28 17:16] #549 closed

[2015-10-28 17:21] dormansteph commented on #549
you're welcome

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buildpgh.com/beacon/ and register for news about
upcoming opportunities.

[2015-10-28 17:23] #554 closed

[2015-10-28 17:23] #555 closed

[2015-10-28 17:36] rileystewart commented on #531
Correct

Riley R. Stewart

[2015-10-28 17:37] bsmithgall opened #556 "Create A-Bid flow"
Department Review Sent
Department Review Returned
Notify vendors of IFB [new]
Bid Closed
Tab Sent to Department
Award Recommendation Received
Contract Sent to Vendor
Sent to Controller
City Contract Complete

[2015-10-28 17:47] hamhands opened #557 "Master IT Services ITQ PDF"
Running through the state contracts and I can't find a single instance where [Master IT Services ITQ](https://www.buildpgh.com/scout/search?q=master+|+it+|+services&contract_type=12) actually returns a PDF when clicking "View contract".

![itq](https://cloud.githubusercontent.com/assets/3640800/10797725/2fcac1c4-7d61-11e5-88de-7f6d818c887f.gif)

We may need to construct the URL differently for the

[2015-10-28 17:50] bsmithgall commented on #557
We'll probably need to bulk update these -- good catch. Can you find the working link for the verizon one and we can figure out what the problem is?

[2015-10-28 17:56] hamhands commented on #557
@bsmithgall there isn't a unique contract file for each contract, but one overview file for all suppliers under the same parent number. The URLs are unique though. For example [here's the overview file for verizon](http://www.emarketplace.state.pa.us/FileDownload.aspx?file=4400008251Overview.pdf) and [here's the overview file for xerox](http://www.emarketplace.state.pa.us/FileDownload.aspx?file=44

[2015-10-28 17:57] bsmithgall commented on #557
Is that always true for all state contracts?

[2015-10-28 17:57] hamhands commented on #557
No, just for the Master IT Services ITQ contracts as far as I can tell.

[2015-10-28 17:58] bsmithgall commented on #531
@rileystewart you are now following 2,214 contracts.

![screen shot 2015-10-28 at 10 57 38 am](https://cloud.githubusercontent.com/assets/1957344/10798018/b9380862-7d62-11e5-9a1f-d862c70d2801.png)

[2015-10-28 17:58] #531 closed

[2015-10-28 17:59] hamhands commented on #557
There's only [one other ITQ state contract](https://www.buildpgh.com/scout/contracts/2634) and the pdf works.

[2015-10-28 18:00] bsmithgall commented on #557
Ok. So the solution is to bulk-update the ITQ contract?

[2015-10-28 18:01] bsmithgall commented on #557
@hamhands it might be worthwhile to load in all of the state contracts into your localdb and poke around and see if anything else is broken

[2015-10-28 18:03] bsmithgall commented on #557
`http://www.emarketplace.state.pa.us/FileDownload.aspx?file=4400006605\Overview.pdf`

[2015-10-28 18:04] hamhands commented on #557
Man, markdown stripping out the `\` really bums me out

[2015-10-28 18:25] shellicious opened #558 "NIGP codes on conductor"
- [ ] Get time with Jennifer and ask her what code input and output she prefers
- [ ] Add field for NIGP codes to "Add a contract" and/or admin
- [ ] Show NIGP codes by clicking + button in Conductor contract list

[2015-10-28 18:44] shellicious opened #559 "Planning meetings for 11/2-6"
- [x] Laura / Sam handover meeting (@bsmithgall can you take this one?)
- [x] Tuesday press conference
- [x] Go over metrics page
- [x] Lunches / breakfasts (@shellicious will do)
    - [x] Ed / Stephanie
    - [x] Riley / Jenn / Sam
    - [x] Paz / Laura
    - [x] Slim
    - [x] Web team
    - [x] Geoff / Tara
    - [x] ...

[2015-10-28 20:42] bsmithgall commented on #540
Specific changes to the form:
1. Documents not required
2. Department dropdown should default select a new department -- "Join City County"
3. Opportunity type should pre-select to County
4. Contact email should not be required, @rileystewart to get us default copy to replace that
5. Conductor title should go into title field by default

[2015-10-28 21:19] #357 closed

[2015-10-28 23:50] hamhands commented on #557
Finished QAing the contract_href for all the state contract types. Master IT Services ITQ (393 total contracts) is the only group where the url concat isn't correct.

Format: `http://www.emarketplace.state.pa.us/FileDownload.aspx?file={number}\Overview.pdf`

[2015-10-29 14:51] rileystewart opened #561 "Beacon admin submission end time is not working"
I was trying to adjust the depository services RFP via admin.  I extended it and put the time that submissions were due at 15:45 (aka 3:45pm)

When I go back to beacon it changes it to 10:45am.  The only way I could get it to work correctly was by doing it by clicking 'edit this opportunity' from the opportunity in beacon.  Then it changed.

[2015-10-29 16:11] bsmithgall commented on #561
Did you put 15.45 or did you put 3.45 pm?

[2015-10-29 16:11] rileystewart commented on #561
there are no am/pm options. just hours 1-24

On Thu, Oct 29, 2015 at 12:11 PM, Ben Smithgall notifications@github.com
wrote:

[2015-10-29 16:15] bsmithgall commented on #561
Where are you trying to do this from? I have AM/PM:

![screen shot 2015-10-29 at 9 15 03 am](https://cloud.githubusercontent.com/assets/1957344/10824440/993e2d78-7e1d-11e5-93d4-43c8bc6c6c81.png)

[2015-10-29 16:24] rileystewart commented on #561
that is if you are editing it from the post.  This problem is from the
Admin section.  If you go to Admin:Beacon:Opportunities and click to edit
it, the time is not working.  Sorry if I didn't put that it wasn't working
VIA ADMIN in my original message, I thought I had clarified that. my bad.

On Thu, Oct 29, 2015 at 12:15 PM, Ben Smithgall notifications@github.com
wrote:

[2015-10-29 16:26] bsmithgall commented on #561
Ah! That is likely due to the way that timezones are handled. I don't think they are handled at all in the admin. I'll work on it, but I would highly recommend using the Beacon form instead -- the Admin doesn't allow to pick categories and do other things that are critical to Beacon.

I'm actually going to lock down the creation of new opportunities from the Admin. Please use Beacon directly inste

[2015-10-29 17:17] bsmithgall opened #563 "Add section to admin that allows an end user to configure certain Heroku-based variables"
For example, display timezone, default department, default conductor contract type, etc.

[2015-10-29 17:22] #561 closed

[2015-10-29 17:41] bsmithgall commented on #557
Script to update existing contracts:

[code]

Will also push an update to the `import_state` method

[2015-10-29 17:47] bsmithgall commented on #557
This is fixed in prod, import fix incoming, then I'll close this issue.

[2015-10-29 18:05] hamhands commented on #557
sounds good @bsmithgall!

[2015-10-29 18:06] #557 closed

[2015-10-29 18:17] #556 closed

[2015-10-29 18:17] bsmithgall commented on #556
This is finished now @rileystewart

[2015-10-29 19:12] #267 closed

[2015-10-29 19:14] msknee commented on #476
Duplicate of #558

[2015-10-29 19:14] #476 closed

[2015-10-29 19:14] msknee commented on #282
Duplicate of #470

[2015-10-29 19:14] #282 closed

[2015-10-29 19:15] msknee commented on #312
Answer to the August 27 question: no

[2015-10-29 19:15] #312 closed

[2015-10-29 19:15] #294 closed

[2015-10-29 19:17] hamhands commented on #312
@shellicious doesn't that contradict our decision to allow multiple departments in the conductor > beacon flow? I remember citing EMS specifically.

[2015-10-31 00:27] msknee commented on #559
Emailed everyone, waiting for responses. I've placed holds on the calendar to reflect availability.

[2015-10-31 02:26] msknee commented on #540
Default text for no email provided should say:

[code]

[2015-10-31 02:27] msknee commented on #540
@bsmithgall Text  is showing up weird above ^^

Please visit the Pennyslvania Purchasing Group site to look up this opportunity. Instructions for sending in a question can be found on the IFB document uploaded there.

URL for site = http://www.govbids.com/scripts/PAPG/public/home1.asp

[2015-10-31 02:50] msknee commented on #532
Banner for main content block is complete. Next:
- [x] Get procurement team approval
- [x] Design sidebar banner
- [x] Email web team and send them assets

[2015-10-31 02:51] msknee commented on #481
Sam approves of the Ben option. Meeting next week to discuss logistics with @rileystewart and Jennifer.

[2015-10-31 20:11] #540 closed

[2015-11-02 15:41] #509 closed

[2015-11-02 15:41] #535 closed

[2015-11-02 19:48] dormansteph opened #571 "Back Dating"
If you change the flow of the contract it changes the date.  We need to be able to back date on the change of the flow

[2015-11-02 20:18] bsmithgall commented on #571
Hi Stephanie,

Reverting the flow should take you step 1 of the new flow, which should allow you to go to back to the "start" screen and rewind the open time. This should have the same effect. Does this work?

[2015-11-02 20:38] dormansteph commented on #571
No it doesn't.  This isn't the first time I've done it.  It was SPEC 7164

Kind Regards,

Stephanie M. Dorman
Procurement Coordinator
414 Grant Street
Room 502 City-County Building
Pittsburgh, PA 15219
Phone: (412) 255-2485
Fax: (412) 255-2367
Email: stephanie.dorman@pittsburghpa.gov

The City of Pittsburgh has launched a new opportunity site called BEACON!
Please visit  https://www.buildpgh.com/b

[2015-11-02 21:28] bsmithgall commented on #571
I see. In the future when you switch flows, you should be able to do it
this way. I can add this feature to the current backlog, but I am not sure
we will be able to get to it. You might bring this up and we can think
about prioritizing it against other features.

For now, you can revert to the first stage of the flow, change the start
date, and then fill in from there.

On Mon, Nov 2, 2015 at 3:3

[2015-11-02 22:12] bsmithgall commented on #563
This is a dumb idea.

New solution -- create a new table that holds the acceptable "DOMAINS"

[2015-11-02 22:53] msknee commented on #532
Proposed changes:

![omb-mainpage](https://cloud.githubusercontent.com/assets/1178390/10896841/973c0fca-818a-11e5-8104-71334121a020.png)

![omb-contractspage](https://cloud.githubusercontent.com/assets/1178390/10896844/9741c26c-818a-11e5-9fe9-18151a02d101.png)

Banners:

![beacon_ombpage-banner-large](https://cloud.githubusercontent.com/assets/1178390/10896842/973ca89a-818a-11e5-90bd-f5365780a368.

[2015-11-02 22:53] msknee commented on #558
Meeting scheduled with Jennifer and Riley Wednesday 11/4

[2015-11-02 22:54] #559 closed

[2015-11-02 22:54] bsmithgall commented on #532
:+1: :100:

can we make the yellow part of the bottom one into a sticker?

[2015-11-02 23:09] msknee commented on #532
GOOD IDEA @bsmithgall

[2015-11-03 16:12] #563 closed

[2015-11-03 16:26] rileystewart opened #575 "costar upload PDF issue"
From this page in conductor, if i accidentally hit 'Submit' and there isn't a file attached then the contract disappears from the list and puts a random URL into scout.

There should be an error message instead saying 'no file attached'

[2015-11-03 17:50] bsmithgall commented on #575
@rileystewart you should be able to delete the URL from the admin, which should make it reappear.

[2015-11-03 18:21] bsmithgall opened #576 "Change up the walkthroughs to reference procurement instead of pittsburgh@"

[2015-11-03 18:24] bsmithgall opened #577 "Bulk download of all contracts in conductor"
@rileystewart could you clarify what you mean by "all"

[2015-11-03 18:29] bsmithgall commented on #571
Closed via offline conversation in procurement meeting

[2015-11-03 18:29] #571 closed

[2015-11-03 18:35] bsmithgall opened #578 "Beacon still throwing 500s with weird rquot characters"

[2015-11-03 18:44] bsmithgall commented on #578
Not in the logs though.

[2015-11-03 19:21] shellicious opened #579 "Administrative checklist for transfer of tools"
- [ ] OMB creates proxy email that forwards questions to @rileystewart
- [ ] Update pittsburgh@codeforamerica.org with proxy email address on walkthroughs
- [ ] Update pittsburgh@codeforamerica.org with same proxy email on Beacon
- [ ] Add procurement.pittsburghpa.gov URLs to Intranet

[2015-11-03 19:22] msknee commented on #576
Duplicate of #579

[2015-11-03 19:22] #576 closed

[2015-11-03 19:23] shellicious opened #580 "Pop-ups over external links"
To adhere to the dotgov.gov guidelines, we should pop-up an alert message when user hovers over:
- [x] Allegheny County links
- [x] Amazon S3 links
- [x] Bidnet links

[2015-11-03 19:38] bsmithgall commented on #578
@hamhands can you see if you can repro this?

[2015-11-03 19:56] hamhands commented on #578
@bsmithgall :+1:

[2015-11-03 19:56] bsmithgall commented on #579
Other open questions:
- [x] Who owns the Heroku/AWS/Sendgrid accounts?
- [x] Which version of the codebase are we going to be running? The one under the CFA repo? A fork to a I&P repo?

[2015-11-03 20:00] #575 closed

[2015-11-03 20:03] shellicious opened #582 "Technical documentation for Pittsburgh Purchasing Suite"
Redeployment / server related:
- [x] Understanding tracking services
- [x] How to restart

Docs being tracked at https://github.com/codeforamerica/pittsburgh-purchasing-suite/pull/573

[2015-11-03 21:15] msknee commented on #532
Emailed @laurameixell assets + proposed changes, will close when we hear back about the ticket

[2015-11-03 22:29] hamhands commented on #578
Can't reproduce this error so it looks like this was in fact fixed in #525. Will email Jennifer.

[2015-11-03 22:29] #578 closed

[2015-11-04 15:32] rileystewart opened #584 "conductor/scout mismatch"
MAINTENANCE & REPAIR: NEDERMAN EXHAUST SYST shows up as a current contract in scout that is being worked on.

It is not showing up if I search in admin as a contract that is being worked on.  If i click on 'action:view in scout' though it shows up.

[2015-11-04 15:35] bsmithgall commented on #584
What's the expected behavior here? It shouldn't show up in the Scout Admin because it isn't completed (it's currently in progress in Conductor, see #499)

It doesn't show up in search results, so people won't be able to find it unless they have the exact URL, which should make it ok.

![screen shot 2015-11-04 at 10 34 17 am](https://cloud.githubusercontent.com/assets/1957344/10942826/b10268c2-82df

[2015-11-04 15:39] rileystewart commented on #584
it should show up in Admin if I search contracts.  I was told that whenever one was 'started' it showed up in admin w/ no blank information until completed

[2015-11-04 15:40] bsmithgall commented on #584
In-progress contracts show up in the Conductor / Contract section of the admin:

![screen shot 2015-11-04 at 10 39 44 am](https://cloud.githubusercontent.com/assets/1957344/10942986/6810865c-82e0-11e5-8642-e200c8a2a20e.png)

[2015-11-04 15:45] rileystewart opened #585 "remove atlas from purchasing suite"
Atlas still shows up with information for both the admin and the public facing platform.

[2015-11-04 19:29] #584 closed

[2015-11-04 19:31] bsmithgall commented on #481
Additional things to do:

Email:
- [ ] change outgoing emails to come from @pittsburghpa.gov
- [ ] have pittsburgh folks properly set outgoing mail servers as valid (SPF/DKIM/etc) for sendgrid
- [x] set the default outbound email addresses for beacon to deliver to omb

Web:
- [x] Have city upload wildcard cert to heroku
- [x] Reconfigure app to point to the .gov url
- [ ] Have Mike sunset buildpgh

[2015-11-04 20:37] bsmithgall commented on #577
- All County, A-Bid-Bid

Columns:
- Name
- Department
- Assigned
- Spec
- Expiration date
- Current Status

[2015-11-04 21:08] msknee commented on #532
:smiley:

[2015-11-04 21:08] #532 closed

[2015-11-04 21:10] shellicious opened #586 "Photodocumentation of Fellows at Beacon St"

[2015-11-04 21:11] msknee commented on #579
Answers to above: I&P, @laurameixell setting them up

[2015-11-04 21:12] #374 closed

[2015-11-05 15:09] #585 closed

[2015-11-05 15:23] bsmithgall commented on #580
Did we confirm that we need to do this for the S3 links? They aren't ever "leaving" the page in that case, correct?

[2015-11-05 15:25] msknee commented on #580
Web team didn't respond to our ask re: S3 links specifically, just that they wanted to err on the side of caution generally.

[2015-11-09 16:00] #586 closed

[2015-11-09 16:01] bsmithgall opened #589 "Move scout alerts to 30 days from 120 days"

[2015-11-09 19:17] #589 closed

[2015-11-10 18:45] rileystewart opened #592 "can't get contract to appear on conductor"
Stephanie accidentally decided to remove a contract from conductor.  When I go to scout and find the contract, the check mark is still checked for conductor though.  I need that contract to go back in conductor but can't get it to appear back.

spec 7096.

It seems like the 'visible on conductor' box in Admin:Scout means nothing and is controlling nothing.

[2015-11-10 18:48] rileystewart opened #593 "Time/Date need to show for each step in Conductor"
Right now the left bar on the side of the page shows the date that a step was complete but there is no way for me to find out what time of day it was completed.  If we are going to make each step fill in both date and time, I need to be able to see this visually.

We are running into problems with backdating errors due to the hour/minutes and since we can't see it we have to try picking times that

[2015-11-11 04:04] bsmithgall commented on #592
Which do you want? Do you want to undo the removal and have the child contract back into the "Department Review Sent?" If so, you can go [here](https://www.buildpgh.com/admin/conductor-contract/edit/?url=%2Fadmin%2Fconductor-contract%2F%3Fsearch%3Dcity%2Bvehicles&id=2619) and un-archive that child contract.

If you want, I can also delete that contract and you'll be able to start over from the beg

[2015-11-11 04:28] bsmithgall commented on #592
I've made some changes to the admin to make this a bit easier to deal with -- I'll push them up and merge them. You'll need to use the Admin/Conductor/Contract bit to get it to work. Here's what it will look like:

![autom8](https://cloud.githubusercontent.com/assets/1957344/11083902/b77a3112-8802-11e5-981a-dbaea24af10d.gif)

[2015-11-11 21:20] #592 closed

[2015-11-11 21:20] #593 closed

[2015-11-11 21:24] #577 closed

[2015-11-11 23:32] msknee commented on #192
I've added the Scout and Beacon logos (small black versions for the navbar and large white versions for the circles) here: https://drive.google.com/drive/u/1/folders/0B24dyIgc537SZnk5cTZySnNSZUE

[2015-11-12 19:27] bsmithgall opened #597 "Add company/supplier to the "more" in the conductor tables"

[2015-11-12 20:04] msknee commented on #192
@hamhands ^^

Still not done is Conductor logo, which I'lll add to the logo folder before the end of the week

[2015-11-12 23:51] shellicious opened #600 "Admins can make other users admins"
![screen shot 2015-11-12 at 3 36 19 pm](https://cloud.githubusercontent.com/assets/1178390/11134889/3493fdce-8955-11e5-94a9-9f24f640313e.png)

From Users (https://www.buildpgh.com/admin/user/), superadmins can't make other users admins.

From Users w/Roles (https://www.buildpgh.com/admin/user-roles/), superadmins can make other users admins. Is this a bug?

Not sure what an admin can/can't do from

[2015-11-13 12:49] dormansteph commented on #539
Good morning,

I was trying to back date a work started (very first step) SPEC #7197 for november 10th and it would not allow

[2015-11-13 19:03] bsmithgall commented on #539
Hi @dormansteph !

I'm looking into this. When #599 gets merged and deployed, you will be able to do this more easily: check out the screencap below for more information

![autom8](https://cloud.githubusercontent.com/assets/1957344/11154750/473e07a2-8a0f-11e5-87f9-f3b87181faf3.gif)

[2015-11-13 19:04] #597 closed

[2015-11-13 19:16] #580 closed

[2015-11-14 20:03] bsmithgall commented on #600
This is fixed by a recent deploy

[2015-11-14 20:03] #600 closed

[2015-11-16 19:50] rileystewart opened #601 "ability to search on Conductor by full description"
i'm trying to find spec 6925 (but i dont know the spec number)  I know its maintenance of steps/stairways.  I type step into the search bars and it won't show up because step is not part of the description that you see.  I need it to search the full description name.

[2015-11-16 19:51] rileystewart opened #602 "If you start a spec number, the rest of the spec numbers should disappear from conductor"
The second that you start working on a particular spec number, the rest of the contracts with that same spec number should disappear.

[2015-11-16 20:00] rileystewart opened #603 "conductor isn't reflecting what is in admin"
I'm looking on conductor all contracts at spec 6682.  There are 2 vendors w/ different spec numbers that should appear under all contracts.  It is displaying 6682 twice but w/ the vendor twice instead of each vendor once with their respective controller numbers

[2015-11-16 22:14] bsmithgall commented on #602
Hi @rileystewart, this will depend on the controller numbers/vendors, as we talked about on the call last week. We settled on manually removing it and trying to collapse the different contracts into one in the future.

[2015-11-16 22:14] #602 closed

[2015-11-16 22:21] bsmithgall commented on #603
I'll look into this today.

[2015-11-16 23:18] bsmithgall commented on #603
It looks those are duplicates. One of them went through the full renewal process (Item Number: 2611, which is a child of Item Number 2605). Basically those two are duplicates. If the other company is still on the contract, I would add it to item number 2611 ([https://www.buildpgh.com/admin/contract/edit/?id=2611](here's a link to the admin page for that one)), and remove the other one from use in

[2015-11-16 23:18] #603 closed

[2015-11-17 00:53] #601 closed

[2015-11-17 19:54] msknee commented on #558
I am wontfixing this

[2015-11-17 19:54] #558 closed

[2015-11-17 19:55] bsmithgall commented on #558
:+1:

[2015-11-17 19:55] msknee commented on #470
I am wontfixing this

[2015-11-17 19:55] #470 closed

[2015-11-17 20:15] msknee commented on #390
Wontfixing this

[2015-11-17 20:15] #390 closed

[2015-11-17 20:16] msknee commented on #181
Wontfixing this

[2015-11-17 20:16] #181 closed

[2015-11-17 20:17] msknee commented on #210
Procurement staff didn't want additional notifications going out, so I'm closing this issue as is.

[2015-11-17 20:17] #210 closed

[2015-11-17 20:17] msknee commented on #271
Have we done this?

[2015-11-17 20:18] bsmithgall commented on #271
No, I think we can wontfix this.

[2015-11-17 20:20] msknee commented on #271
ok

[2015-11-17 20:20] #271 closed

[2015-11-17 20:26] msknee commented on #192
Uploaded Beacon logos that have skinnier linework: https://drive.google.com/drive/u/1/folders/0B24dyIgc537SZnk5cTZySnNSZUE

[2015-11-17 20:46] bsmithgall opened #606 "Beacon date-time bug"
Things shouldn't be closed

[2015-11-17 20:47] bsmithgall opened #607 "Revert is causing some trouble"
Revert seems to be using today's date as opposed to the passed date from the form.

[2015-11-17 20:51] bsmithgall commented on #607
If it's not the first step, it should use the previous stage's complete date, otherwise it should use the start date.

[2015-11-17 21:17] #606 closed

[2015-11-18 00:54] #192 closed

[2015-11-19 15:26] rileystewart opened #609 "can't change contract description"
Description won't change for contracts via admin::Scout::Contracts

I'm trying to change the description for every single 4400004480 state contract.  I change it and hit submit and it won't change.  i've also tried hitting save and continue and it doesn't save.

[2015-11-19 17:16] bsmithgall commented on #609
What are you trying to change it to, and from what?

[2015-11-19 17:25] bsmithgall commented on #609
I tried based based on a pattern that you provided and had no trouble.

There are 393 of these; do you want me to bulk-update them in one go?

[2015-11-19 17:30] #607 closed

[2015-11-19 18:15] rileystewart commented on #609
it's still not working for me.

i am trying to change them to MASTER IT SERVICES ITQ- CONTACT PROCUREMENT
BEFORE USING https://www.buildpgh.com/admin/contract/?search=4400004480#

I just tried with Collective Intelligence and it doesn't change

On Thu, Nov 19, 2015 at 12:25 PM, Ben Smithgall notifications@github.com
wrote:

[2015-11-19 18:21] bsmithgall commented on #609
It updated for me just fine: https://www.buildpgh.com/admin/contract/?search=collective+intelligence

Are you using the individual page edit or editing by clicking on the description and changing it that way?

[2015-11-19 19:09] rileystewart commented on #609
i'm on Admin::Scout::Contracts and searched the contract number.  I got all
of page one done but it won't update/save any on page 2.

On Thu, Nov 19, 2015 at 1:21 PM, Ben Smithgall notifications@github.com
wrote:

[2015-11-19 19:30] #582 closed

[2015-11-19 19:30] msknee commented on #330
wontfixing

[2015-11-19 19:30] #330 closed

[2015-11-19 19:31] msknee commented on #90
wontfixing

[2015-11-19 19:31] #90 closed

[2015-11-19 19:31] msknee commented on #13
wontfixing

[2015-11-19 19:31] #13 closed

[2015-11-19 19:36] bsmithgall commented on #609
I can't reproduce this issue locally or in production, so I am not really sure what to do here. Riley if you want to just add that contact procurement before using, I can do that in bulk at the database level so you don't have to do 330 times.

[2015-11-19 19:40] rileystewart commented on #609
ya I'd like that for this case. i found out that state contract is more
just like a PQ so i want to make sure we tell ppl to contact us so we can
explain before they buy with the vendor

On Thu, Nov 19, 2015 at 2:36 PM, Ben Smithgall notifications@github.com
wrote:

[2015-11-19 19:43] bsmithgall commented on #609
Ok, I will do that and then close this issue

[2015-11-19 19:48] #609 closed

[2015-11-20 01:13] msknee commented on #521
DUNZO https://docs.google.com/presentation/d/1Rw_nMTUQTbFxnq9x-uQIPGC0IdnwdWPB2yHVAY1mG0g/edit#slide=id.gcd8a351e3_0_0

[2015-11-20 01:13] #521 closed

[2015-11-20 20:07] #395 closed

[2015-11-20 20:08] #311 closed

[2015-11-20 20:09] #272 closed

[2015-11-20 20:09] bsmithgall commented on #332
This is mostly a data issue, and is totally doable within the current featureset

[2015-11-20 20:09] #332 closed

[2015-11-20 20:09] #362 closed

[2015-11-20 20:10] #366 closed

[2015-11-20 20:10] bsmithgall commented on #429
This is in progress as a policy change and appears to be going well

[2015-11-20 20:10] #429 closed

[2015-11-20 20:10] bsmithgall commented on #433
:(

[2015-11-20 20:10] #433 closed

[2015-11-20 20:12] #505 closed

[2015-11-20 20:13] #515 closed

[2015-11-20 20:13] bsmithgall commented on #482
@shellicious @hamhands can you put links to all the documents in here? I'm going to re-organize the README a little bit today/tomorrow and would love to have links to everything.

[2015-11-20 21:34] hamhands commented on #482
@bsmithgall direct download pdf or google doc?

[2015-11-20 22:00] bsmithgall commented on #482
Doc would be better
On Nov 20, 2015 1:34 PM, "Patrick Hammons" notifications@github.com wrote:

[2015-11-20 22:22] hamhands commented on #482
- [Conductor walkthrough](https://docs.google.com/a/codeforamerica.org/document/d/1gJa8RzbiV91UDNyRTBLGXmZIYuXtnY8BOK6VNyCbqSg/edit?usp=sharing)
- [Scout walkthrough](https://docs.google.com/document/d/1hV5_yHKWWgU2qgtPI011cdiWOvXewRJK3v-MaXEXEkA/edit?usp=sharing)
- [Beacon walkthrough](https://docs.google.com/document/d/1z2ujIVJ0pa0lN9rO_1W3MrLTUe_smpwrWyXpWZEVp4Q/edit?usp=sharing)
- [Admin walkt

[2015-11-21 21:10] bsmithgall commented on #482
Can we get a link to the end-of-year report here as well?

[2015-11-21 21:18] msknee commented on #482
added!

[2015-11-24 06:11] #482 closed

[2015-12-07 19:10] rileystewart opened #616 "Sort/Color by Expiration date does not work in conductor"
I am trying to sort by expiration date to see the contracts that expired the longest time ago.  This is not working.  Also I believe the color coding for the expiration date column was supposed to be based on if the contract was expired (aka if the contract has already expired it's red, if its within 90 days of expiration it's yellow).  Currently it is just whatever color the 'Current Step Started

[2015-12-08 07:17] bsmithgall commented on #616
Fixed by https://github.com/CityofPittsburgh/pittsburgh-purchasing-suite/pull/3

@rileystewart you can open issues over there now as well

[2015-12-08 07:48] bsmithgall commented on #616
As for the colors, this was the design decision reached a long time ago when we were first doing the conductor mockups. It can be changed, but it would be good to make sure that that is in line with what Ed & @dormansteph need.

[2015-12-08 07:48] #616 closed

[2016-01-20 18:28] ajb commented on #285
Is this something that would affect `beacon-standalone`? I can't quite ascertain from the title.

[2016-01-20 18:29] ajb commented on #327
This issue was ~~moved~~ copied to dobtco/beacon#1

[2016-01-20 18:30] ajb commented on #255
This issue was ~~moved~~ copied to dobtco/beacon#2

[2016-01-20 18:42] bsmithgall commented on #285
Yes. If you go through and select categories but have, say, an invalid
email address on form submission, the validation will clear the selected
categories and you'll have to re-submit them.

This is a fairly low-priority problem based on the number of signups we get.

On Wed, Jan 20, 2016 at 1:28 PM, Adam Becker notifications@github.com
wrote:

[2016-01-20 19:26] ajb commented on #285
Word, thanks for filling me in.

[2016-01-20 19:26] ajb commented on #285
This issue was ~~moved~~ copied to dobtco/beacon#3